<div
  *ngIf="group"
  [formGroup]="group"
  [ngClass]="{ grid: gridView }"
  [class]="flexView || ''"
>
  <mat-label *ngIf="label">
    {{ label }}
    <span style="color: red" *ngIf="required">*</span>
  </mat-label>
  <mat-form-field
    color="primary"
    appearance="outline"
    class="field"
    style="flex: 1 1"
  >
    <input
      matInput
      [matDatepicker]="picker1"
      [placeholder]="placeholder"
      [formControlName]="name"
    />
    <mat-datepicker-toggle
      matIconSuffix
      [for]="picker1"
    ></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
  </mat-form-field>
</div>
