<div
  class="d-flex-column-normal"
  *ngIf="group"
  [formGroup]="group"
  [class]="flexView || ''"
  [ngClass]="{ grid: gridView }"
>
  <mat-label *ngIf="label">
    {{ label }}
    <span style="color: red" *ngIf="required">*</span>
    :
  </mat-label>
  <mat-form-field
    appearance="outline"
    color="primary"
    class="field"
    style="flex: 1 1"
  >
    <mat-select
      [formControlName]="name"
      (onSelectionChange)="selectChange($event)"
    >
      <mat-option *ngFor="let item of data" [value]="key ? item[key] : item">
        <ng-template
          [ngTemplateOutlet]="optionTemplate"
          [ngTemplateOutletContext]="{ $implicit: item }"
        ></ng-template>
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
