<div class="header-line pd-1 j-between">
  <span class="sub-title">{{
    (id ? "edit" : "new") | prefix : accessTranslation | translate
  }}</span>
  <div class="d-flex">
    <button
      mat-raised-button
      color="primary"
      (click)="save()"
      [disabled]="productForm.invalid"
    >
      <span>{{ "save" | translate }}</span>
    </button>
    <button mat-stroked-button (click)="cancel()">
      <span>{{ "cancel" | translate }}</span>
    </button>
  </div>
</div>
<mat-vertical-stepper [linear]="false" #stepper [animationDuration]="'100'">
  <mat-step>
    <ng-template matStepLabel>{{
      "details" | prefix : accessTranslation | translate
    }}</ng-template>
    <section
      class="d-flex-column-normal row-gap"
      [formGroup]="productForm"
      style="padding: 0px"
    >
      <div class="grid">
        <input-form-field
          [group]="productForm"
          [label]="'name' | prefix : accessTranslation | translate"
          [name]="'name'"
          [flexView]="'d-flex-column-normal'"
        ></input-form-field>

        <input-form-field
          [group]="productForm"
          [label]="'brand' | prefix : accessTranslation | translate"
          [name]="'brand'"
          [flexView]="'d-flex-column-normal'"
        ></input-form-field>

        <select-form-field
          [label]="'kind' | prefix : accessTranslation | translate"
          [group]="productForm"
          [name]="'kind'"
          [data]="products"
          [flexView]="'d-flex-column-normal'"
        >
          <ng-template let-item>
            {{ item | prefix : accessTranslation | translate }}
          </ng-template>
        </select-form-field>
        <input-form-field
          [group]="productForm"
          [label]="'vat' | prefix : accessTranslation | translate"
          [name]="'tax'"
          [flexView]="'d-flex-column-normal'"
          [onlyNumbers]="true"
        ></input-form-field>
      </div>

      <section class="grid">
        <input-form-field
          [group]="productForm"
          [label]="'arabic-desc' | prefix : accessTranslation | translate"
          [name]="'ar_description'"
          [flexView]="'d-flex-column-normal'"
        ></input-form-field>
        <input-form-field
          [group]="productForm"
          [label]="'english-desc' | prefix : accessTranslation | translate"
          [name]="'en_description'"
          [flexView]="'d-flex-column-normal'"
        ></input-form-field>
        <input-form-field
          [group]="productForm"
          [label]="'german-desc' | prefix : accessTranslation | translate"
          [name]="'de_description'"
          [flexView]="'d-flex-column-normal'"
        ></input-form-field>
      </section>
    </section>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>{{
      "variants" | prefix : accessTranslation | translate
    }}</ng-template>
    <app-form-variant [productForm]="productForm" [data]="data">
    </app-form-variant>
  </mat-step>
</mat-vertical-stepper>
<!-- <footer class="footer">

</footer> -->
