<div class="header-line pd-1 j-between">
  <span class="sub-title">{{
    (id || trans_id ? "edit" : "new") | prefix : accessTranslation | translate
  }}</span>
  <div class="d-flex-normal">
    <button
      mat-raised-button
      color="primary"
      (click)="save()"
      [disabled]="transactionForm.invalid"
    >
      <span>{{ "save" | translate }}</span>
    </button>
    <button mat-stroked-button (click)="cancel()">
      <span>{{ "cancel" | translate }}</span>
    </button>
  </div>
</div>

<div
  class="d-flex pd-1"
  [formGroup]="transactionForm"
  [ngClass]="{ 'grid-2': dialog }"
>
  <date-form-field
    [label]="'date' | prefix : accessTranslation | translate"
    [group]="transactionForm"
    [name]="'date'"
    [flexView]="'d-flex-column-normal'"
  ></date-form-field>

  <app-currencies
    [group]="transactionForm"
    [name]="'currency_id'"
    [label]="'currency' | prefix : accessTranslation | translate"
    [flexView]="'d-flex-column-normal'"
    (selectionChange)="catchCurrency($event)"
  ></app-currencies>
  <input-form-field
    [label]="'exchange-value' | prefix : accessTranslation | translate"
    [name]="'conversion_factor'"
    [group]="transactionForm"
    [onlyNumbers]="true"
    [suffix]="selectedCurrency?.symbol"
    [flexView]="'d-flex-column-normal'"
  ></input-form-field>
  <input-form-field
    [label]="'description' | prefix : accessTranslation | translate"
    [name]="'description'"
    [group]="transactionForm"
    [flexView]="'d-flex-column-normal'"
  ></input-form-field>
</div>
<app-transaction-details
  [transactionForm]="transactionForm"
  [currency]="currencyCheck"
  [entries]="entries"
  [id]="id || trans_id"
  class="disabled-card"
  [ngClass]="{ 'disabled-card': !currencyCheck }"
></app-transaction-details>
<!-- <footer class="footer">

</footer> -->
