<div class="header-line">
  <span>{{
    (id ? "edit" : "new") | prefix : accessTranslation | translate
  }}</span>
</div>
<div class="d-flex pd-1">
  <div class="d-flex item">
    <span>{{ "date" | prefix : accessTranslation | translate }}</span>
    <mat-form-field color="accent" appearance="outline">
      <input
        matInput
        [matDatepicker]="picker1"
        placeholder="e.g. 2023-12-31"
        mask="0000-M0-d0"
      />
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker1"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="d-flex item">
    <span>{{ "currency" | prefix : accessTranslation | translate }}</span>
    <mat-form-field appearance="outline" style="width: 80%">
      <mat-select (selectionChange)="catchCurrency($event)">
        <mat-option *ngFor="let currency of currencies" [value]="currency">
          {{ currency.title }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="d-flex item">
    <span>{{ "exchange-value" | prefix : accessTranslation | translate }}</span>
    <mat-form-field appearance="outline">
      <input
        matInput
        autocomplete="off"
        mask="separator"
        [allowNegativeNumbers]="true"
      />
      <span matSuffix>
        {{ selectedCurrency?.title }}
      </span>
    </mat-form-field>
  </div>
  <div class="d-flex item" style="width: 25%">
    <span>{{ "description" | prefix : accessTranslation | translate }}</span>
    <mat-form-field appearance="outline">
      <input matInput />
    </mat-form-field>
  </div>
</div>
<app-transaction-details
  [transactionForm]="transactionForm"
></app-transaction-details>
<footer class="footer">
  <button mat-raised-button color="primary" (click)="save()">
    <span>{{ "save" | translate }}</span>
  </button>
  <button mat-stroked-button>
    <span>{{ "cancel" | translate }}</span>
  </button>
</footer>
