:host {
    height: 100%;
    display: flex;
    flex-direction: column;

    .d-flex {
        display: flex;
        column-gap: 1rem;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: flex-start;
        row-gap: 1rem;

    }

    .item {
        width: 25%;
    }
}

.footer {
    display: flex;
    justify-content: flex-end;
    padding: 0px 16px;
    column-gap: 1em
}