<div class="header-line">
  <span>{{
    (id ? "edit" : "new") | prefix : accessTranslation | translate
  }}</span>
</div>
<div class="d-flex pd-1" (click)="save()">
  <div class="d-flex">
    <span>{{ "date" }}</span>
    <mat-form-field color="accent" appearance="outline">
      <input matInput [matDatepicker]="picker1" />
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker1"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="d-flex">
    <span>{{ "currency" }}</span>
    <mat-form-field appearance="outline">
      <mat-select>
        <mat-option
          *ngFor="let currency of currencies"
          [value]="currency.value"
        >
          {{ currency.title }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="d-flex">
    <span>{{ "description" }}</span>
    <mat-form-field appearance="outline">
      <input matInput />
    </mat-form-field>
  </div>
</div>
<app-transaction-details
  [transactionForm]="transactionForm"
></app-transaction-details>
