:host {
    height: 98%;
    display: flex;
    flex-direction: column;

    ::ng-deep {
        mat-label {
            display: flex;
            justify-content: flex-end;
        }

        .mat-mdc-tab-body-wrapper {
            height: 100%;
        }
    }


}