<header class="header-line sub-title pd-1">
  <span>{{
    "currency-exchange" | prefix : accessTranslation | translate
  }}</span>
</header>
<section class="section" [formGroup]="currencyForm">
  <section class="sub-section">
    <header class="header">
      {{ "credit-account" | prefix : accessTranslation | translate }}
    </header>

    <app-search-accounts
      class="section-field"
      [control]="credit"
      [selectObject]="true"
      [gridView]="true"
      [title]="'account' | translate"
      width="100%"
    ></app-search-accounts>

    <input-form-field
      [group]="currencyForm"
      [label]="'amount' | prefix : accessTranslation | translate"
      [name]="'credit_amount'"
      [gridView]="true"
      [onlyNumbers]="true"
    ></input-form-field>

    <date-form-field
      [label]="'date' | prefix : accessTranslation | translate"
      [group]="currencyForm"
      [name]="'date'"
      [gridView]="true"
      placeholder="e.g. 2023-12-31"
    ></date-form-field>
  </section>
  <section class="sub-section">
    <header class="header">
      {{ "debit-account" | prefix : accessTranslation | translate }}
    </header>

    <app-search-accounts
      class="section-field"
      [control]="debit"
      width="100%"
      [selectObject]="true"
      [gridView]="true"
      [title]="'account' | prefix : accessTranslation | translate"
    ></app-search-accounts>

    <input-form-field
      [group]="currencyForm"
      [label]="'amount' | prefix : accessTranslation | translate"
      [name]="'debit_amount'"
      [gridView]="true"
      [onlyNumbers]="true"
    ></input-form-field>

    <input-form-field
      [group]="currencyForm"
      [label]="'service-cost' | prefix : accessTranslation | translate"
      [name]="'service_cost'"
      [gridView]="true"
      [onlyNumbers]="true"
    ></input-form-field>
  </section>
</section>
<footer class="footer">
  <button
    mat-raised-button
    color="primary"
    (click)="save()"
    [disabled]="currencyForm.invalid"
  >
    <span>{{ "save" | translate }}</span>
  </button>
  <button mat-stroked-button (click)="cancel()">
    <span>{{ "cancel" | translate }}</span>
  </button>
</footer>
