.active {
  height: 15px;
  width: 15px;
  border-radius: 100%;
  background: var(--success-color);
}

.inactive {
  height: 15px;
  width: 15px;
  border-radius: 100%;
  background: var(--warn-color);
}