:host {
    mat-tree-node {
        border-bottom: 1px solid #80808047;
    }

    height: 100%;
    width: 100%;

}

.section-container {
    display: flex;
    width: 100%;
    height: 100%;

    .section-content {
        display: flex;
        flex-direction: column;
        width: 30%;

        .parent-tree {
            height: 100%;
            overflow: auto;
            cursor: pointer;
        }

        .search-field {
            width: 100%;
        }
    }

    .view-account {
        width: 70%;
    }

    .background-highlight {
        background-color: var(--primary-color);
        color: white;
    }

    .active-arrow {
        color: white !important;
    }
}