<section class="section-container">
  <div class="section-content">
    <div class="header-line">
      <span>{{ "title" | prefix : accessTranslation | translate }}</span>
    </div>
    <mat-form-field class="search-field" appearance="outline">
      <span matPrefix>
        <mat-icon color="primary">search</mat-icon>
      </span>
      <input
        matInput
        (input)="getDeepWithFilter($event)"
        [placeholder]="
          'search-account' | prefix : accessTranslation | translate
        "
        #searchInput
      />
    </mat-form-field>
    <app-loader [api]="{ one: getAccounts }">
      <mat-tree
        [dataSource]="dataSource"
        [treeControl]="treeControl"
        class="parent-tree"
      >
        <mat-tree-node
          *matTreeNodeDef="let node"
          (click)="viewSub(node)"
          [ngClass]="{ 'background-highlight': activeNode === node }"
          matTreeNodePadding
        >
          <span
            class="module-title"
            [innerHTML]="node.name | highlight : searchInput.value"
          >
          </span>
        </mat-tree-node>
        <mat-tree-node
          *matTreeNodeDef="let node; when: hasChild"
          class="parent-node"
          matTreeNodePadding
          [ngClass]="{ 'background-highlight': activeNode === node }"
          (click)="viewSub(node)"
        >
          <button mat-icon-button matTreeNodeToggle>
            <mat-icon
              class="mat-icon-rtl-mirror"
              color="primary"
              [ngClass]="{ 'active-arrow': activeNode == node }"
            >
              {{
                treeControl.isExpanded(node) ? "expand_more" : "chevron_right"
              }}
            </mat-icon>
          </button>

          <span
            class="module-title"
            [innerHTML]="node.name | highlight : searchInput.value"
          >
          </span>
        </mat-tree-node>
      </mat-tree>
    </app-loader>
  </div>
  <div class="view-account">
    <router-outlet></router-outlet>
  </div>
</section>
