<div class="d-flex-column-normal h-100">
  <div class="section-content">
    <div class="header-line">
      <span>{{
        "account-details" | prefix : accessTranslation | translate
      }}</span>
    </div>
  </div>
  <app-loader [api]="{ one: getAccountDetails, two: getDetails }">
    <div class="d-flex-normal header-content">
      <div class="d-flex-column-normal row-gap-2">
        <div class="d-flex-normal column-gap-2">
          <mat-icon color="primary" class="big-icon">
            account_balance_wallet
          </mat-icon>
          <span class="title">{{ accountDetails?.name }}</span>
        </div>
        <span
          >{{
            "account-number" | prefix : accessTranslation | translate
          }}:</span
        >
        <p>{{ accountDetails?.no }}</p>
      </div>
      <div class="amount">
        <caption>
          3123210EUR
        </caption>
      </div>
    </div>

    <app-main-account [children]="accountDetails?.children"></app-main-account>
  </app-loader>
</div>
