:host {
    width: 100%;
    height: 100%;
}

caption {
    color: var(--positive);
    font-size: 24px;
    margin-bottom: 4px;
}


.amount {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
}

.header-content {
    padding: 36px 48px;
    background: white;
}