:host {
    height: 100%;
    width: 100%;
}

.auth-section {
    display: flex;
    height: 100%;
    width: 100%;

    .form-section {
        display: flex;
        flex-direction: column;
        width: 50%;
        box-shadow: 4px 0 8px -1px #dde4f1;
    }

    .svg {
        width: 100%;
        height: 96%;
        margin-left: 16px;
    }
}