:host {
  height: 100%;
  display: flex;
  flex-direction: column;

  ::ng-deep {
    mat-vertical-stepper {
      background-color: transparent !important;
    }

    mat-tab-header {
      margin-bottom: 12px;
    }
  }
}