<h1 class="text-center">
  {{ "change-password" | prefix : accessTranslation | translate }}
</h1>
<caption>
  {{
    "update-password" | prefix : accessTranslation | translate
  }}
</caption>

<form
  [formGroup]="changePassForm"
  class="d-flex-column"
  style="align-items: unset"
  autocomplete="off"
>
  <mat-form-field appearance="outline">
    <mat-label>
      {{ "password" | prefix : accessTranslation | translate }}</mat-label
    >
    <input
      matInput
      formControlName="pwd"
      autocomplete="off"
      name="search"
      id="search"
      [type]="hide1 ? 'password' : 'text'"
    />
    <mat-icon matSuffix (click)="hide1 = !hide1">{{
      hide1 ? "visibility_off" : "visibility"
    }}</mat-icon>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>
      {{
        "confirm-password" | prefix : accessTranslation | translate
      }}</mat-label
    >
    <input
      matInput
      formControlName="confirm_password"
      type="password"
      name="search2"
      id="search2"
      [type]="hide2 ? 'password' : 'text'"
      autocomplete="off"
    />
    <mat-icon matSuffix (click)="hide2 = !hide2">{{
      hide2 ? "visibility_off" : "visibility"
    }}</mat-icon>
  </mat-form-field>

  <button
    mat-raised-button
    color="primary"
    class="submit-btn f-size-14 f-weight-500"
    type="submit"
    [disabled]="changePassForm.invalid"
    (click)="save()"
  >
    <span>{{ "change" | translate }}</span>
  </button>
</form>
