:host {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 42px;
    margin-top: 42px;
    row-gap: 3rem;
    margin-right: 32px;
    justify-content: center;

    ::ng-deep {
        .mat-form-field-appearance-outline:not(.textarea) .mat-mdc-form-field-flex {
            max-height: 45px !important;
            font-size: 15px !important;
            align-items: center;
            display: flex;
            padding-right: 4px !important;
        }

    }
}


.submit-btn {
    margin-top: 3rem;
}