<div [ngClass]="[flexView]" *ngIf="group" [formGroup]="group">
  <mat-label *ngIf="label">
    {{ label }}
    <span style="color: red" *ngIf="required">*</span>
    :
  </mat-label>

  <mat-form-field appearance="outline" style="flex: 1 1">
    <mat-select
      [formControlName]="name"
      (selectionChange)="selectionChange.next($event)"
    >
      <mat-option
        *ngFor="let currency of coreService.currencies"
        [value]="currency.id"
      >
        {{ currency.id }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="d-flex-column-normal" *ngIf="!group">
  <mat-label *ngIf="label">
    {{ label }}
  </mat-label>

  <mat-form-field appearance="outline" class="w-100">
    <mat-select [formControl]="currencyControl">
      <mat-option
        *ngFor="let currency of coreService.currencies"
        [value]="currency.id"
      >
        {{ currency.id }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
