.grid {
    display: grid !important;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 0.5em;

    .field {
        grid-column: 2/-1;

    }
}

@media screen and (max-width: 1100px) {
    .grid {
        display: flex !important;
        flex-direction: column !important;
        align-items: flex-start !important;
        width: 100%;
    }

    .field {
        width: 100%;

    }
}