:host {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    row-gap: 1em;
    padding: 8px 20px;
}

.header {
    width: 100%;
    justify-content: flex-end;
    display: flex;
}