.input-container {
    padding: 0px 10px;
    margin-bottom: 8px;
    position: sticky;
    top: -7px;
    background: white;
    z-index: 1;


    input {
        border: none;
        border-bottom: 1px solid black;
        width: 100%;
        padding: 8px;

    }
}