@import './assets/styles/__helper.scss';
@import './assets/styles/__ag-grid.scss';

@import './assets/styles/__variables.scss';
@import './assets/styles/__material.scss';
@import './assets/styles/__theme.scss';

html,
body {
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #fafafa;
    font-size: 14px;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 4px;
    background-clip: content-box;
}


.header-line {
    display: flex;
    justify-content: space-between;
    padding: 0px 4px;
    background-color: white;
    margin-bottom: 8px;
    padding: 12px;
    border-bottom: 1px solid #b5b5b5;
}

.pointer {
    cursor: pointer;
}