:host {
    height: 100%;
    position: sticky;
    top: 0;
}

.parent {
    height: 100%;
    transition: all 0.1s ease-in;
    transition-delay: 0s;
    width: 260px;
}

.side-container {
    height: 100%;

    .side-drawer {
        width: 100%;

        .parent-node {
            justify-content: space-between !important;
            flex-direction: row-reverse !important;
            border-top: 1px solid #cfcfcf;
            font-weight: 500;
            font-size: 16px;
        }

        .sub-node {
            cursor: pointer;
        }

        .background-highlight {
            background: var(--primary-color);
            color: white;
        }

        .module-title {
            margin: 0 20px;
            display: flex;
            align-items: center;
            column-gap: 1em;
        }
    }

}

.mobile {
    width: 50px !important;
}

@media screen and (max-width: 1200px) {
    .parent {
        width: 50px;
    }
}


// Move the content down so that it won't be hidden by the toolbar