.parent {
    height: 100%;
    transition: all 0.3s ease-in;
    transition-delay: 0.3s;
    width: 260px;
}

.side-container {
    height: 100%;

    .side-drawer {
        width: 100%;

        .parent-node {
            justify-content: space-between !important;
            flex-direction: row-reverse !important;
            border-top: 1px solid #cfcfcf;
            font-weight: 500;
            font-size: 16px;
        }

        .sub-node {
            cursor: pointer;
        }

        .background-highlight {
            background: var(--primary-color);
            color: white;
        }

        .module-title {
            margin: 0 20px;
        }
    }

}

@media screen and (max-width: 800px) {
    .parent {
        width: 50px;
    }
}


// Move the content down so that it won't be hidden by the toolbar