.d-flex {
    display: flex;
    column-gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    row-gap: 1rem;
}

.d-flex-ng {
    display: flex;
}

.d-flex-column {
    @extend .d-flex;
    flex-direction: column;
    row-gap: 1rem;
}

.pd-1 {
    padding: 1rem
}