:root {
    --primary-color: #3f51b5;

    --accent-color: red;
    --positive: #35925C;
    --negative: red;
    --active-primary-color: #a36125;
    --active-accent-color: #3e3e3e;
    --light-primary-color: #faf2ea;
    --light-accent-color: #ededed;
    --light-active-primary-color: #efd5be;
    --light-active-accent-color: #c8c8c8;
    --light-hover-accent-color: #e4e4e4;
    --text-color: #4d4d4db3;
    --hover-primary-color: #b86d29;
    --hover-accent-color: #454545;
    --white: white;
    --black: black;
    --background-color: #f8f8f8;
    --border-color: #f4f4f4;

    --light-gray: #dcdcdc;
}