:root {
    --primary-color: #3f51b5;
    --success-color: #4fa813;
    --accent-color: black;
    --positive: #35925C;
    --white: white;
    --black: black;
    --background-color: #f8f8f8;
    --border-color: #f4f4f4;

    --light-gray: #dcdcdc;
}