<div class="header">
  <div class="d-flex">
    <button
      mat-mini-fab
      color="accent"
      (click)="addAccount()"
      style="align-self: flex-end"
    >
      <mat-icon>add</mat-icon>
    </button>
    <button
      mat-mini-fab
      color="accent"
      (click)="getChildAccount()"
      style="align-self: flex-end"
    >
      <mat-icon>refresh</mat-icon>
    </button>
    <button
      mat-mini-fab
      color="primary"
      (click)="addDetails()"
      style="align-self: flex-end"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>

<ag-grid-angular
  class="ag-theme-alpine"
  style="height: 100%"
  [columnDefs]="columnDefs"
  [enableRtl]="false"
  (gridReady)="onGridReady($event)"
  [gridOptions]="gridOptions"
></ag-grid-angular>
